* {
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #f0f0f0;
}

ul {
    padding: 0;
    list-style-type: none;
}

body {
    font-family: "Montserrat", sans-serif;
    color: #f0f0f0;
    background-color: #101010;
    margin: 8px auto;
    max-width: 360px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 8px;
    margin-right: 8px;

    img {
        display: flex;
        }
}

.navigation {
    display: flex;
    justify-content: space-between;
    gap: 16px;

    a {
        margin-left: 10px;
        font-size: 8px;
    }

    div {
        display: flex;
        align-items: center;
    }
}

.hero {
    position: relative;
}

.hero img {
    display: flex;
    max-width: 344px;
    margin: 8px auto;
}

.hero-text {
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    width: 116px;

    position: absolute;
    top: 32px;
    right: 32px;
}

.products {
    padding-bottom: 32px;
}

.products > button {
    display: block;
    border: none;
    border-radius: 20px;
    width: 136px;
    height: 24px;
    background: #cdc9c4;
    margin: 16px auto 0;

    font-weight: 600;
    font-size: 10px;
    text-transform: uppercase;
    color: #101010;
}

.card-group-title {
    text-align: center;
    margin: 16px 0;
}

.card {
    max-width: 328px;
    border-radius: 10px;
    background-color: #906c3b;
    margin: 0 auto 24px;

    h2 {
        font-weight: 500;
        font-size: 20px;
    }
}

.last-card {
    margin-bottom: 0;
}

.description {
    padding: 4px 16px 16px;

    img {
        width: 112px;
        height: 16px;
    }

    p {
        font-size: 12px;
        margin-top: 16px;
        margin-bottom: 16px;
    }

    div {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    button {
        border: 2px solid #f0f0f0;
        background-color: transparent;
        border-radius: 30px;
        width: 132px;
        height: 40px;

        font-weight: 600;
        font-size: 12px;
        text-transform: uppercase;
        color: #f0f0f0;
    }
}

.card .image {
    width: 100%;
}

.board {
    background-image: url(../images/boards-mobile.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    padding-top: 56px;
    padding-bottom: 60px;
}

.list-item {
    p {
        margin-top: 24px;
        font-weight: 500;
        font-size: 14px;
    }
}

.item {
    margin: 0 16px 34px 24px;

    img {
        width: 50%;
        height: 50%;
        display: flex;
        margin: 0 auto;
    }
}

.item:last-child {
    margin-bottom: 0;
}