* {
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #f0f0f0;
}

ul {
    padding: 0;
    list-style-type: none;
}

h2 {
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
}

body {
    font-family: "Montserrat", sans-serif;
    color: #f0f0f0;
    background-color: #101010;
    margin: 0 auto;
    max-width: 360px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px 18px 8px 16px;
}

.logo-small {
    display: flex;
    }

.logo-large {
    display: none;
}

.navigation {
    display: flex;
    justify-content: space-between;
    gap: 24px;

    a {
        margin-left: 10px;
        font-size: 8px;
    }
}

.address {
    display: flex;
    align-items: center;
}

.address-img {
    margin-left: 16px;
}

.header-nav {
    display: none;
}

.hero {
    position: relative;
    margin-bottom: 16px;
}

.mobile-hero {
    display: flex;
    max-width: 344px;
    margin: 0 auto;
}

.desktop-hero {
    display: none;
}

.hero-text {
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    width: 116px;

    position: absolute;
    top: 32px;
    right: 32px;
}

.hero-btn {
    display: none;
}

.hero-slider {
    display: none;
}

.products {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0 auto 32px;

    
    h2 {
        margin: 0 0 16px;
    }
}

.prod-btn {
    display: block;
    border: none;
    border-radius: 20px;
    width: 136px;
    height: 24px;
    background: #cdc9c4;
    margin: 16px auto 0;
    cursor: pointer;

    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    color: #101010;

    &:hover {
        background-color: #d1b592;
    }
}

.card-group {
    display: grid;
    row-gap: 24px;
}

.card {
    max-width: 328px;
    border-radius: 10px;
    background-color: #906c3b;

    h2 {
        font-weight: 500;
        text-align: left;
    }
}

.last-card {
    margin-bottom: 0;
}

.description {
    padding: 4px 16px 16px;

    img {
        width: 112px;
        height: 16px;
    }

    p {
        font-size: 12px;
        margin-top: 16px;
        margin-bottom: 16px;
    }

    div {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    button {
        border: 2px solid #f0f0f0;
        background-color: transparent;
        border-radius: 30px;
        width: 132px;
        height: 40px;
        cursor: pointer;

        font-weight: 600;
        font-size: 12px;
        text-transform: uppercase;
        color: #f0f0f0;

        &:hover {
            background-color: #684e2b;
        }
    }
}

.card .image {
    width: 100%;
}

.board {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0 auto;

    background-image: url(../images/boards-mob-1.png);
    background-size: cover;

    padding-top: 56px;
    padding-bottom: 60px;
}

.list-item {
    display: grid;
    row-gap: 24px;
    padding: 0 16px;

    p {
        margin-top: 24px;
        font-weight: 500;
        font-size: 14px;
    }
}

.item {

    img {
        width: 152px;
        height: 162px;
        display: flex;
        margin: 0 auto;
    }
}

.item:last-child {
    margin-bottom: 0;
}

.request-form {
    background-color: #906c3b;
    padding: 24px 32px 32px;

    h2 {
        margin-bottom: 24px;
    }

}

input {
    width: 100%;
    border-radius: 24px;
    border: none;
    height: 48px;
    box-shadow: inset 0 5px 5px 0 rgba(0, 0, 0, 0.25);
    padding-left: 16px;
    margin-bottom: 16px;
    
    &::placeholder{
        color: #101010;
        font-weight: 500;
        font-size: 14px;
    }
}

textarea {
    border-radius: 16px;
    border: none;
    height: 152px;
    box-shadow: inset 0 5px 5px 0 rgba(0, 0, 0, 0.25);
    padding: 16px;
    resize: none;

    &::placeholder {
        font-family: "Montserrat", sans-serif;
        color: #101010;
        font-weight: 500;
        font-size: 14px;
    }
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;

    p {
        font-weight: 500;
        font-size: 12px;
        color: #101010;

        margin: 8px 0 17px;
    }

    a {
        color: #c51522;
        text-decoration: underline;
    }

    button {
        border-radius: 20px;
        width: 184px;
        height: 40px;
        margin: 0 auto;
        cursor: pointer;

        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
        background: #c51522;
        border: transparent;

        font-weight: 500;
        font-size: 16px;
        text-transform: uppercase;
        color: #f0f0f0;
    }
}

.news {
    max-width: 296px;
    margin: 32px auto;

    h2 {
        margin-bottom: 24px;
    }

    img {
        width: 100%;
        margin-bottom: 8px;
    }
}

.news-list {
    display: grid;
    row-gap: 24px;
}

.date {
    font-weight: 500;
    font-size: 14px;
    color: #906c3b;
}

.text {
    font-size: 14px;
    margin-top: 12px;
}

.about {
    background-image: url(../images/boards-mob-2.png);
    background-size: cover;
    background-repeat: no-repeat;

    padding: 32px 24px 40px 32px;

    h2 {
        margin-bottom: 16px;
    }

    p {
        font-size: 14px;
    }
}

p + p {
    margin-top: 16px;
}

.slider {
    background-color: #906c3b;
    padding: 24px 16px;

    display: flex;
    flex-direction: column;
    align-items: center;

}

.arrow {
    display: none;
}

.craft-image {
    width: 100%;
}

.dots {
    margin: 16px auto 0;
}

.location {
    margin: 32px 0;

    h2 {
        margin-bottom: 16px;
    }

    img {
        display: block;
        width: 100%;
    }
}

footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 16px 32px 32px 16px;

    background: #050505;
}

.footer-nav {
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;

    ul {
        display: flex;
        flex-direction: column;
        align-items: end;
    }

    a {
        display: block;
    }
    
    li {
        margin-bottom: 17px;
    }
    
    .last-link {
        margin-bottom: 0;
    }
}

.info a {
    font-size: 12px;
    margin-left: 8px;
}

.info .address {
    display: flex;
    align-items: center;
    margin: 17px 0 15px;
}

.info .email {
    display: flex;
    align-items: center;
}

.info .address-img {
    margin-left: 0;
}

@media (min-width: 1280px) {

    .subtitle {
        font-size: 36px;
        margin-bottom: 40px;
    }

    .card-subtitle {
        font-size: 24px;
    }

    .logo-small {
        display: none;
    }

    .logo-large {
        display: flex;
        margin-top: 20px;

        transition: transform 250ms ease;
    }

    header .logo-large:hover {
        transform: scale(75%);
    }

    body {
        max-width: 100vw;
    }

    header {
        width: 100%;
        padding: 20px 0 20px;
        margin-bottom: 10px;
        background-color: #050505;
    }

    .header-container {
        max-width: 940px;
        margin: 0 auto;
    }

    .burger-logo {
        display: none;
    }

    .header-nav {
        display: block;
        
        ul {
            display: flex;
            gap: 30px;
        }

        a {
            font-weight: 600;
            font-size: 16px;
            text-transform: uppercase;
        }
    }

    .navigation {
        flex-direction: column;
        align-items: end;
        gap: 50px;

        .address a {
            font-size: 14px;
        }

        a:hover {
            color: #906c3b;
        }
    }

    .email-img {
        width: 16px;
    }

    .address-img {
        width: 15px;
        margin-left: 32px;
    }

    .hero {
        max-width: 1280px;
        margin: 0 auto 70px;
    }

    .mobile-hero {
        display: none;
    }

    .desktop-hero {
        display: flex;
        max-width: 100%;
    }

    .hero-text {
        font-size: 64px;
        width: 461px;

        top: 80px;
        right: 170px;
    }

    .hero-btn {
        display: flex;
        position: absolute;
        top: 264px;
        right: 170px;
        border-radius: 20px;
        border: none;
        width: 220px;
        height: 40px;
        background: #906c3b;
        cursor: pointer;

        padding-left: 70px;
        padding-top: 12px;

        font-weight: 600;
        font-size: 16px;
        text-transform: uppercase;
        color: #f0f0f0;

        &:hover {
            background-color: #684e2b;
        }
    }

    .hero-slider {
        display: block;
        margin: 20px auto 0;
    }

    .description > p {
        font-size: 16px;
    }

    .card-group {
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
        row-gap: 30px;
    }

    .card {
        max-width: 460px;
        border-radius: 10px;
    }

    .card-group button {
        width: 180px;
        height: 60px;

        font-size: 16px;
    }

    .prod-btn {
        width: 200px;
        height: 46px;

        font-size: 20px;
    }

    .board {
        background-image: url(../images/boards-desktop.png);
    }

    .list-item {
        grid-template-columns: 1fr 1fr;
        column-gap: 88px;
        row-gap: 50px;
    }

    .item {
        width: 366px;
        
        p {
            font-size: 16px;
        }
    }

    form {
        max-width: 940px;
        margin: 0 auto;

        p {
            font-size: 14px;
            margin-top: 10px;
            margin-bottom: 30px;
        }

        button {
            font-size: 20px;
        }
    }

    .input-group {
        display: flex;
        gap: 20px;
    }

    input {
        width: 300px;

        &::placeholder{
            font-size: 16px;
        }
    }

    textarea::placeholder{
        font-size: 16px;
    }

    .news {
        max-width: 940px;
        margin: 70px auto 80px;

        h2 {
            margin-bottom: 38px;
        }
    }

    .news-list {
        grid-template-columns: repeat(3, 1fr);
        row-gap: 63px;
        column-gap: 20px;

        p {
            font-size: 16px;
        }
    }

    .about {
        background-image: url(../images/boards-desktop.png);
        
        padding: 70px 170px 100px;

        h2 {
            margin-bottom: 40px;
        }

        p {
            font-size: 16px;
        }
    }

    .dots {
        display: none;
    }

    .craft-image {
        width: 780px;
    }

    .slider {
        flex-direction: row;
        justify-content: center;
        gap: 20px;
    }

    .arrow {
        display: block;
    }

    .location {
        margin: 60px 0 108px;

        h2 {
            margin-bottom: 50px;
        }
    }

    iframe {
        display: block;
        width: 940px;
        height: 530px;
        margin: 0 auto;
    }

    footer {
        justify-content: center;
        padding: 70px 0 80px;
        gap: 130px;

        a {
            font-size: 14px;
        }
        
        a:hover {
            color: #906c3b;
        }
    }

    .info {
        display: flex;
        align-items: center;
        gap: 140px;
    }

    .address-group .address {
        margin: 0 0 22px;
    }

    .footer-nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 84px;

        li {
            margin: 0;
        }
    
        ul {
            gap: 25px;
        }
    }
}